/* font family add */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
}


/* some common class */
.section-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: #3A3A3A;
}

.display-flex {
    display: flex;
}

.btn {
    padding: 10px 24px 10px 40px;
    border-radius: 8px;
    border: none;
    background-color: #E02C6D;
    color: white;
}

/* nav section start here */
.nav-item {
    list-style: none;
    margin: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.nav-bar,
.banner-section {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/* banner section start here */
.banner-content-title {
    font-size: 3.15rem;
    font-weight: bold;
    color: #3A3A3A;
}

.banner-content {
    max-width: 582px;
}

.banner-content-des {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.banner-content-img {
    width: 475px;
    height: 475px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

/* brand- img section start here */
.brand-imgs {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 120px;

}

.brand-img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 36px 61px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 8px;
}

/* Popular-Collection start here */
.Popular-Collection {
    max-width: 1047px;
    margin: 0 auto;
    margin-top: 120px;
}

.popular-title {
    text-align: center;
    margin-bottom: 10px;

}

.popular-card-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.popular-card-item {
    max-width: 330px;
    text-align: left;
    padding: 17px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-radius: 10px;
}

.popular-card-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.popular-card-item h4 {
    font-size: 1.30rem;
    font-weight: 500;
    color: #18191F;
    margin: 10px;
}

.popular-card-item h6>i {
    color: #FB8200;
}

.popular-card-item h6 {
    margin: 10px;
}

.popular-card-item h5 {
    font-size: 1.20rem;
    margin: 10px;
}

.popular-card-item p {
    margin: 10px;
}

/*Featured products section  */
.Featured-products {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: space-between;
}

.Featured-products-contant {
    max-width: 610px;
    text-align: start;
}

.Featured-products-contant h2 {
    font-size: 2.10rem;
    font-weight: 700;
}

.Featured-products-contant p {
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
}

/* footer section */
.footer {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    background-color: #0A0826;
}

.footer-content {
    max-width: 262px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 30px 0;
}

.footer-content h3 {
    font-size: 1.23rem;
    font-weight: 700;

}

.footer-content h4,
h5 {
    font-size: 0.90rem;
    font-weight: 700;
    color: #D9DBE1;
    margin-top: 20px;
}

.footer-content h6,
i {
    display: flex;
    justify-content: space-evenly;
}